<header>{{>backToPetitionButton}}{{>logoutButton}}</header>
<main>
    <div id="container">
<h1>Do you really want to delete your whole account including your signature???</h1>

<form action="/petition/delete-account" method="post">
    <button class="body">DELETE ACCOUNT</button>
</form>
<button class="body"><a href="/petition">No, I want to go back to the petition</a></button>    


</div>
</main>
    {{>jquery}}