<main>
    <div id="container">
<h1>Do you really want to delete your whole account including your signature???</h1>
    {{>deleteAccountButton}}
<button><a href="/petition">No, I want to go back to the petition</a></button>    

{{>logoutButton}}
</div>
</main>
    {{>jquery}}