<main>
    <div id="container">
        <h1>Sign our petition to make Germany's traffic safe again!</h1>
        <br>
        <h3>Have you ever been upset that once again a moped is creeping along the road in front of you, holding up all traffic, or worse, feeling unsafe because you can't keep up in traffic? Help us to put an end to this inhumane treatment of moped riders from now on! All you have to do is register, leave your signature and sit back and relax 😎</h3>
        <a
            href="https://www.flaticon.com/free-icons/scooter"
            title="scooter icons"
        ><img src="./scooter.png" alt="scooter icons" class="icon" /></a>
        <form id="signForm" method="post">
            <input type="text" name="signature" class="hidden" />
            {{!-- <canvas id="canvas" width="500" height="150"></canvas> --}}
            <canvas id="canvas" ></canvas>
            <p>Sign Here</p>
            <button id="submit">SUBMIT</button>
        </form>
 {{>logoutButton}}
 </div>
</main>
    {{>jquery}}

<script src="/script.js"></script>