<main>
    <h1>Sign our petition to make Germany's traffic safe again!</h1>
    <a
        href="https://www.flaticon.com/free-icons/scooter"
        title="scooter icons"
    ><img src="./scooter.png" alt="scooter icons" class="icon" /></a>
    <form method="post">
        <input type="text" name="signature" class="hidden" />
        <canvas id="canvas" width="500" height="150"></canvas>
        <p>Sign Here</p>
        <button id="submit">SUBMIT</button>
    </form>
</main>
<footer>Copyright Julien 2022</footer>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
></script>
<script src="script.js"></script>