<header></header>
<main>
    <div id="container">
    <h1>Please Log in to sign our Petition!</h1>
    <form method="post">
        <input type="text" name="email" />
        <p>Email Adress</p>
        <br>
        <input type="password" name="password" />
        <p>Password</p>
        <br>
        <button id="submit">LOGIN</button>
    </form>
{{>registerLink}}

    </div>
</main>
    {{>jquery}}
