<header>{{>logoutButton}}</header>
<main>
    <div id="container">
        <h2>If you want, you can add addtional infos about yourself</h2>
    <form method="post">
        <input type="text" name="city" />
        <p>City</p>
        <br>
        <input type="number" min="0" name="age" />
        <p>Age</p>
        <br>
        <input type="text" name="url" />
        <p>URL</p>
        <br>
        <button class="body" id="submit">CONTINUE</button>
        <br>
    </form>

</div>
</main>
    {{>jquery}}
