<form method="post">
    <input type="text" name="city" />
    <p>City</p>
    <input type="number" name="age" />
    <p>Age</p>
    <input type="text" name="url" />
    <p>URL</p>
    <button id="submit">LOGIN</button>
</form>
{{>logoutButton}}