<main>
    <h1>Please Register to sign our Petition!</h1>
    <form method="post">
        <input type="text" name="first" />
        <p>First Name</p>
        <input type="text" name="last" />
        <p>Last Name</p>
        <input type="text" name="email" />
        <p>Email Adress</p>
        <input type="text" name="password" />
        <p>Password</p>
        <button id="submit">REGISTER</button>
    </form>
    <p>Already registered? Login <a href="/login">here</a>.</p>
</main>
<footer>Copyright Julien 2022</footer>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
></script>
{{! <script src="script.js"></script> }}