* {
    /* background-color: bisque; */
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header,
footer {
    background-color: rgb(1, 28, 35);
    color: white;
    width: 100vw;
    height: 8vh;
    /* max-height: 30px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
form {
    text-align: center;
}

h1 {
    font-size: 3.25vw;
}

h2 {
    font-size: 2vw;
}
a:link {
    text-decoration: none;
}

footer {
    /* background-color: black; */
    justify-content: flex-start;
    height: 6vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    background-image: url("./vespa_background.jpg");
    /* filter: contrast(0.9); */
    background-size: cover;
    background-position: center;
    /* position: relative; */
}

div#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 86vh;
    width: 60vw;
    max-width: 700px;
    /* height: 84vh; */
    background-color: rgba(255, 255, 255, 0.68);
}

img#menu {
    /* background-color: black; */
    width: 6vh;
    max-width: 40px;
    height: 6vh;
    max-height: 40px;
    /* color: white; */
    /* border-radius: 50%; */
    /* border: solid white 3px; */
}

.hidden {
    visibility: hidden;
}

canvas,
img#signImg {
    /* position: absolute; */
    /* width: 48vw; */
    /* height: 16.8vh; */
    border: 3px solid rgb(1, 28, 35);
    /* left: 200px; */
    /* top: 200px; */
}

/* img#signImg {
    border: solid red 2px;
    width: 40vw;
    height: auto;
} */

img.icon {
    width: 10vw;
    height: auto;
}

form#signForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* menu button styles */

#logout {
    font-size: 2.5vh;
}

.appear {
    visibility: visible;
}

.move-to-the-left {
    transform: translateX(-100%);
    background-color: white;
}

#menu-button {
    display: flex;
    align-items: center;
}

header button {
    height: 5vh;
    border: solid white;
    border-radius: 10%;
    background-color: rgb(2, 107, 133);
    color: white;
    margin-inline: 3vw;
}
a.header {
    height: 5vh;
    padding: 1vh;
    font-size: 2.5vh;
    border: solid white;
    border-radius: 15%;
    background-color: rgb(2, 107, 133);
    color: white;
    margin-inline: 3vw;
    text-align: center;
}

button.body {
    height: 5vh;
    padding: 1vh;
    font-size: 2.5vh;
    border: solid white;
    border-radius: 15%;
    background-color: rgb(2, 107, 133);
    color: white;
    margin-inline: 3vw;
    text-align: center;
}
